body {
    font-family: var(--ff-primary);
    background-color: var(--black);
    color: var(--white);

    button {
        background-color: var(--transparent);
        color: var(--white);
        border: 3px solid var(--primary);
        padding: 10px 30px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.25s;

        &.purple {
            padding: 10px 60px;
            border: none;
            background-color: var(--secondary);
            display: flex;
            align-items: center;

            img {
                margin-left: 10px;
                width: 30px;
                transform: rotate(90deg);
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(200%) contrast(100%)
            }
        }

        &:hover {
            box-shadow: 0 0.5em 0.5em -0.4em var(--black);
            transform: translateY(-0.25em);
            border-color: var(--white);
        }

        &:hover a {
            color: var(--white) !important;
        }

        a {
            font-size: var(--fs-300);
            color: var(--primary);

            &:hover {
                color: var(--white);
            }
        }
    }

    span {
        color: var(--primary);
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    a {
        color: var(--primary);
    }

    .grid {
        display: grid;
    }

    .container {
        max-width: 1580px;
        width: 100%;
        opacity: 0;
        transition: all 2s;
        transform: translateY(-100%);
        filter: blur(25px);
        padding: 0 3%;
        margin-bottom: 150px;

        &.show {
            filter: blur(0);
            transform: translateY(0);
            opacity: 1 !important;
        }
    }

    @media screen and (max-width: 1145px) {
        .container {
            padding: 8%;
            max-width: 1080px;
            margin-bottom: 80px;
        }
    }

    .background-gradiente {
        border-radius: 1000px;
        opacity: .5;
        background: conic-gradient(from 137deg at 46.94% 54.99%, #7761FF 41deg, #AC7 115deg, #00E8C5 262deg);
        width: 100vw;
        height: 50vw;
        filter: blur(200px);
        position: absolute;
        z-index: -1;

        &.top {
            top: 400px;
            left: -30px;
        }

        &.medium {
            top: 2500px;
            left: -30px;
        }

        &.bottom {
            bottom: 0px;
            left: -1000px;
        }
    }


    h1 {
        font-size: var(--fs-700);
    }

    h2 {
        font-size: var(--fs-600);
    }

    h3 {
        font-size: var(--fs-500);
    }


}