main {
    position: relative;
    overflow-y: hidden;



    div#principal {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 20%;


        p {
            font-size: var(--fs-400);

            &.large {
                font-size: var(--fs-500);
                font-weight: 300;
                margin: 30px 0 0;
            }

            &.small {
                font-size: var(--fs-200);
                color: var(--gray);
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 35px 0;
            width: 100%;

            form {
                width: 100%;

                fieldset {
                    border: none;
                    background-color: var(--white);
                    border-radius: 50px;
                    padding-left: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    font-size: var(--fs-400);
                    transition: ease .25s;

                    &:focus-within {
                        box-shadow: 0 0 20px var(--secondary);
                        transform: translateY(-5px);
                    }

                    input {
                        border-radius: 50px;
                        padding: 10px;
                        color: var(--gray);
                        border: none;
                        width: 100%;

                        &:focus-visible {
                            outline: none;
                        }

                    }

                    button {
                        padding: 0 60px;
                        border: none;
                        background-color: var(--secondary);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1145px) {
    #principal {
        form {
            fieldset {
                background-color: var(--transparent) !important;
                flex-direction: column;
                gap: 10px;

                &:focus-within {
                    box-shadow: none !important;
                    transform: none !important;
                }

                input {
                    padding: 10px 30px !important;

                    &:focus-visible {
                        box-shadow: 0 0 20px var(--secondary);
                        transform: translateY(-5px);

                    }
                }

                button {
                    align-self: center;
                    max-width: 200px;
                    padding: 10px 50px !important;
                }
            }
        }
    }
}